# atvc_core
type atvc_core_device, dev_type;

# Motorola partitions
type cid_block_device, dev_type;
type hob_block_device, dev_type;
type utags_block_device, dev_type;

# qdumpd
type qdumpd_device, dev_type;

# whisperd
type whisperd_device, dev_type;
