# PDS partition
type pds_file, file_type;

# Motorola partitions
type utags_block_device, dev_type;
type hob_block_device, dev_type;
type cid_block_device, dev_type;
