type whisperd, domain;
type whisperd_exec, exec_type, file_type;
init_daemon_domain(whisperd)

unconfined_domain(whisperd)

allow whisperd whisperd_prop:property_service set;
allow whisperd default_prop:property_service set;
